include ../../components/header/header
include ../../components/footer/footer
include ../../data/data

- const {default_title, default_description, site} = data

block variables  
  - if (!scriptSrc) {scriptSrc = '/index.1ggbbr5su.js'} //- эти строки обрабатываются регулярным
  - if (!stylesheetHref) {stylesheetHref = '/index.1ggbbr5su.css'} // выражением в scripts.js

doctype html
html(lang='ru')
  head
    include ../../components/google-analytics/google-analytics.html
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href=stylesheetHref)
    script(defer src=scriptSrc)
    meta(name= 'description' content= description ? description : default_description)
    title= `${title ? title : default_title} | ${site}`
    link(rel='sitemap' type='application/xml' href='/sitemap/sitemap-index.xml')
    link(rel="apple-touch-icon" sizes="57x57" href="images/icons/icon57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="images/icons/icon60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="images/icons/icon72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="images/icons/icon76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="images/icons/icon114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="images/icons/icon120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="images/icons/icon144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="images/icons/icon152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/icons/icon180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="images/icons/icon192.png")
    link(rel='icon' href='images/icons/icon16.png' type='image/png' sizes='16x16')
    link(rel='icon' href='images/icons/icon32.png' type='image/png' sizes='32x32')
    link(rel='icon' href='images/icons/icon96.png' type='image/png' sizes='96x96')    
    link(rel="manifest" href="/manifest.webmanifest")
    link(rel="stylesheet" href="/highlight/vs2015.min.css")
    script(src="/highlight/highlight.min.js")    
    script hljs.configure({noHighlightRe: language-perl})
    script hljs.highlightAll()
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="images/icons/icon144.png")
    meta(name="theme-color" content="#ffffff")

  body
    block header
      +header()

    block main

    block footer
      +footer()
    
    include ../../components/yandex-metrica/yandex-metrica.html
