include ../../components/header/header
include ../../components/footer/footer
include ../../data/data

- const {default_title, default_description, site} = data

block variables  
  - if (!scriptSrc) {scriptSrc = '/index.js'}
  - if (!stylesheetHref) {stylesheetHref = '/index.aaa.css'}

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href=stylesheetHref)
    link(rel='shortcut icon' href='/favicon.ico')
    script(defer src=scriptSrc)
    meta(name= 'description' content= description ? description : default_description)
    title= `${title ? title : default_title} | ${site}`

    link(rel="apple-touch-icon" sizes="57x57" href="images/icons/apple57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="images/icons/apple60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="images/icons/apple72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="images/icons/apple76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="images/icons/apple114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="images/icons/apple120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="images/icons/apple144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="images/icons/apple152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="images/icons/apple180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="images/icons/icon-192.png")
    link(rel='icon' href='/favicon-32.png' type='image/png' sizes='32x32')
    link(rel='icon' href='/favicon-96.png' type='image/png' sizes='96x96')
    link(rel='icon' href='/favicon-16.png' type='image/png' sizes='16x16')
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#ffffff")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#ffffff")

  body
    block header
      +header()

    block main

    block footer
      +footer()
    
    include ../../components/yandex-metrica/yandex-metrica.html
