mixin list-articles

  include ../../data/mpth-data.pug
    - 
      function revers(date) { 
        return date.split('-').reverse().join('-');
      }
    - 
      dataListItems.sort(function(a, b) {
        return (new Date(revers(a.update ? a.update : a.create)).getTime() > new Date(revers(b.update ? b.update : b.create)).getTime()? -1 : 1)
      })
  
  each point in dataListItems
    article
      h2
        a.list__item(href=point.pathFile)= point.title
      .creationDate= point.update ? point.update : point.create
      p= point.description
