@import '../../layouts/variables';

.header {
  background-color: var(--header-background-color);
  display: flex;
  flex-direction: column;
  padding: 1em 0;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
  }

  &__logo {
    display: flex;
    flex-direction: row;
  }

  &__logo .logo_mobile {
    display: none;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  & a {
    text-decoration: none;
    color: var(--header-text-color);

    &[href^='/']:hover {
      background-color: var(--header-background-color);
    }

    &:hover {
      text-decoration: underline;
      color: var(--header-a-hover-color);
    }
  }

  &.theme-dark {
    background-color: var(--dark-header-background-color);
    border-bottom: 1px solid var(--dark-header-border-color);

    & a {
      color: var(--dark-header-text-color);

      &[href^='/']:hover {
        background-color: var(--dark-header-background-color);
      }

      &:hover {
        color: var(--header-a-hover-color);
      }
    }
  }

  .contacts {
    display: flex;
    justify-content: right;
  }

  .logo-text {
    font-weight: bold;
    font-size: 3em;

    a {
      color: var(--logo-a-text-color);

      &:hover {
        color: var(--logo-a-hover-color);
      }
    }
  }
}

@media (max-width: $xl) {
  .content {
    width: 95%;
  }
}

@media (max-width: $md) {
  .header__content {
    flex-direction: column;
  }

  .header__logo {
    display: none;
  }

  .header__logo_mobile {
    display: inline;
  }

  .header__phone {
    margin-top: 1em;
  }
}

@media (prefers-color-scheme: dark) {
  .header.theme-auto {
    background-color: var(--dark-header-background-color);

    a {
      color: var(--dark-header-text-color);

      &[href^='/']:hover {
        background-color: var(--dark-header-background-color);
      }
    }

    .logo-text {
      & a {
        color: #639;
      }
    }
  }
}
