extends ../../layouts/base/index

block append variables 
  - title = '404: Not Found | jinv.ru'

block header 

block main
  .content
    h1 Страница не найдена
    h2 404
    a(href='/') На главную

block footer