-
  let data = {
    default_keywords: "",
    default_description: "Персональный сайт",
    default_title: "Страница сайта | jinv.ru",
    yandex_verification: "",
    logo_title: "jinv.ru",
    logo_img_alt: "Логотип сайта jinv.ru",
    logo_file: "icon-72x72.png",
    logo_file_mobile: "icon-72x72.png",
    email: "injashkin@gmail.com",
    telegram: "https://t.me/jashkin"
  }