-
  let menuItems = [
    {
      "href": "/",
      "text": "Главная"
    },
    {
      "href": "/toc.html",
      "text": "Статьи"
    },
    {
      "href": "/author.html",
      "text": "Об авторе"
    }
  ]