-
  const header = ""
  const socs = [
    {
      "class": "mes-em",
      "href": "injashkin@gmail.com",
      "text": "Email",
      "icon": "email",
    },
    {
      "class": "mes-tg",
      "href": "https://t.me/jashkin",
      "text": "Telegram",
      "icon": "telegram",
    },
    {
      "class": "mes-wa",
      "href": "https://api.whatsapp.com/send?phone=79183549497",
      "text": "WhatsApp",
      "icon": "whatsapp",
    }
  ]